[submodule "display/microbuilder-codebase"]
	path = display/microbuilder-codebase
	url = https://github.com/microbuilder/LPC1114CodeBase
[submodule "arduino/Arduino-Makefile"]
	path = arduino/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile/
	branch = master
[submodule "sensor-node-ext/sensor-block/firmware"]
	path = sensor-node-2.0/sensor-block/firmware
	url = https://pubgit.sotecware.net/jonas.wielicki/hint-sensor-node-2.0-controller-firmware.git
[submodule "sensor-node-ext/gateway"]
	path = sensor-node-2.0/gateway
	url = https://pubgit.sotecware.net/jonas.wielicki/hint-sensor-node-2.0-gateway-firmware.git
[submodule "sensor-node-2.0/host"]
	path = sensor-node-2.0/host
	url = https://pubgit.sotecware.net/jonas.wielicki/hint-sensor-node-2.0-daemon
[submodule "metric-collector"]
	path = metric-collector
	url = https://pubgit.sotecware.net/jonas.wielicki/hint-metric-collector
[submodule "hintlib"]
	path = hintlib
	url = https://github.com/horazont/hint-lib
